/* Sets all the text color to red! */
body {
    /* color: red; */
}

.d-graph-7c94cd {
    color: aqua;
}

.scene-tooltip {
    color: #ffffff !important;
    background-color: #20202070 !important;
  }